.cardSection {
    width: 45%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}
.cardContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5rem 0rem;
}
#Medium.cardSection {
    width: 65%;
}
#Hard.cardContainer {
    padding: 0%;
}